// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$white: #ffffff;
$red: red;
$black: #000000;
$gray: #736f6f;
$light-gray: #ded5d573;
$orange: rgb(226, 90, 44);
$green: rgb(18, 165, 128);
